<h1>{{title}}</h1>
<div class="form" style="width: 150px;">
  <div class="form-element">
    <label for="search-box">From currency</label>
    <input #fromCurrency id="fromCurrency" />
  </div>
  <div class="form-element">
    <label for="search-box">To currency</label>
    <input #toCurrency id="toCurrency" />
  </div>
  <div class="form-element">
    <label for="search-box">Amount</label>
    <input #amountCurrency id="amountCurrency" />
  </div>
  <button style="margin: 10px 0px;" type="button" (click)="convert(fromCurrency.value, toCurrency.value, amountCurrency.value)">Convert</button>
</div>
<div *ngIf="directResult">
  <b>
    Direct result:
  </b>
  {{directResult}}
</div>
<div *ngIf="indirectResult">
  <b>
    Indirect result:
  </b>
  {{indirectResult}}
</div>
<div *ngIf="difference">
  <b>
    Difference:
  </b>
  {{difference}}
</div>
<div *ngIf="conversionRate">
  <b>
    Direct conversion rate from {{fromCurrency.value}} to {{toCurrency.value}}:
  </b>
  {{conversionRate}}
</div>